@charset "UTF-8";

@font-face {
   font-family: 'nanumsquareB'; /* 폰트 패밀리 이름 주기*/
   src: url(/font/NANUMSQUAREB.TTF); /*폰트 파일 주소*/
}

/* .container{
	background-color:#ffffff;
} */

.cursor{
   cursor:pointer;
}

.stylish-input-group .input-group-addon{
    background: white;
}

.stylish-input-group .form-control{
   border-right:0; 
   box-shadow:0 0 0; 
   border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.grayscale{
   color: #314561 !important; 
}

textarea{
  resize:none;
}

.nav-padding {
    padding-left: 50px;
}

.logo {
    position: absolute;
		left: 15px;
    top: 2px;
}

.box {
	border-right: 1px solid gray; 
}

.nav-bottom-margin{
	margin-bottom: 20px !important;
}

input::-webkit-calendar-picker-indicator {
   opacity: 0 !important;
}

.navbar-default{
	background-color:#ffffff;
	border-bottom-color:#314561;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.navbar-default .navbar-nav>li>a {
    color: #000 !important;
}

.index-input{
	border: none;
	border-bottom: 1px dashed;
	width: 80%;
}

.nav-align {
    padding-top: 25px !important;	 
}

#frmSearchtxt {
	 padding-top: 10px !important;	 
}

.searchbtn{
	background:#314561 !important;
	color:#efefef !important;
	border:4px solid #314561;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color:#fff;
	background-color:#314561 !important;
}
