@charset "UTF-8";

@font-face {
   font-family: 'nanumsquareB'; /* 폰트 패밀리 이름 주기*/
   src: url(/font/NANUMSQUAREB.TTF); /*폰트 파일 주소*/
}

/* .container{
	background-color:#ffffff;
} */

.cursor{
   cursor:pointer;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
   border-right:0; 
   box-shadow:0 0 0; 
   border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.grayscale{
   color: #535353 !important; 
}

textarea{
  resize:none;
}

.nav-padding {
    padding-left: 50px;
}

.logo {
    position: absolute;
		left: 15px;
    top: 13px;
}

.logo-text {
		color: #444 !important;
}

.box {
	border-right: 1px solid gray; 
}

.nav-bottom-margin{
	margin-bottom: 20px !important;
}

input::-webkit-calendar-picker-indicator {
   opacity: 0 !important;
}

.navbar-default{
	background-color:#ffffff;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.index-input{
	border: none;
	border-bottom: 1px dashed;
	width: 80%;
}