@charset "UTF-8";

html, 
body {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
	align-items: center;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(/img/intro-bg.jpg) no-repeat center top;
}

.intro h1 {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #333;
}
.intro p {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
header .intro-text {
}

.btn-default {
    text-transform: uppercase;
    color: #555;
    background-color: transparent;
    border-color: #777;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    border-radius: 0;
    margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}

a {
	color: #000000;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}