@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
  border:
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.logoTxt {
	font-size: 40px;
}

.btnSignin {
	width: 49%;
	margin-right: 1%;
}

.btnSignup {
	width: 49%;
}

.inputEmail {
	width: 78%;
    float: left;
    padding-right: 7px;
}

.guideTxt {
	margin-top: 5%;
}

.logo-box {
	margin-bottom: 20px;
}

.logoName {
	font-size: 50px;
}

.logoImg {
	margin-left: 14%;
	vertical-align: bottom; 
	height: 80px;
}

.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.1); /*not in ie */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
}

.wrap-loading div{ /*로딩 이미지*/
    position: fixed;
    top: 45%;
    left: 45%;
}

.display-none{ /*감추기*/
    display:none;
}